//Makes the dataview footer sticky (always visible and sticks to the bottom of the screen)
.dataview-sticky-footer {
    .mx-dataview-controls {
        position: sticky;
        bottom: 0;
        z-index: 1;
        background: $bg-color;
        padding: $spacing-large;
        margin-left: -$spacing-large;
        margin-right: -$spacing-large;
        border-top: $border-default;
    }
}

@if not(variable-exists(disable-reverse-dataview-controls)) {
    //Reverses the default order of buttons on footers. Add $dont-reverse-dataview-controls: true in your own styling to override
    .mx-dataview-controls,
    .modal-dialog .modal-content .modal-footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        .btn {
            margin-right: 0;
        }
        .btn:not(:first-child) {
            margin-right: $spacing-small;
        }
    }
}
