$v-alignments: "t", "c", "r";
$h-alignments: "l", "c", "r";

@if not(variable-exists(disable-position-absolute-helpers)) {
    @each $v-alignment in $v-alignments {
        @each $h-alignment in $h-alignments {
            .pa-#{$v-alignment}#{$h-alignment} {
                @include position-absolute($v-alignment, $h-alignment);
            }
        }
    }
}

.hover-parent {
    .hover-child {
        display: none;
    }
    &:hover .hover-child {
        display: inherit !important;
    }
}

//There is a delay on hide when using visibility: hidden, so instead we use opacity which works instantly
.visibility-parent {
    &:hover .visibility-child {
        opacity: 1;
    }
    .visibility-child {
        opacity: 0;
    }
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.position-sticky {
    position: sticky;
    z-index: 10;
    top: 0;
    &.sticky-top-medium {
        top: $spacing-medium;
    }
}

.position-relative {
    position: relative !important;
}
