//Improves the layout for datagrid search fields
@mixin improve-grid-searchbar($search-item-width) {
    .mx-grid {
        > .mx-grid-searchbar {
            > .mx-grid-search-inputs {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax($search-item-width, 1fr));
                > .mx-grid-search-item {
                    display: flex;
                    flex-direction: column;
                    max-width: $search-item-width;
                    > .mx-grid-search-label {
                        text-align: left;
                        width: $search-item-width;
                        label {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: block;
                        }
                    }
                    > .mx-grid-search-input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
