@mixin position-absolute($vertical, $horizontal, $offset: 0) {
    position: absolute;
    @if ($vertical == "t") {
        top: $offset;
    }
    @if ($vertical == "c") {
        top: 50%;
        transform: translateY(-50%);
    }
    @if ($vertical == "b") {
        bottom: $offset;
    }
    @if ($horizontal == "r") {
        right: $offset;
    }
    @if ($horizontal == "c") {
        left: 50%;
        transform: translateX(-50%);
    }
    @if ($horizontal == "l") {
        left: $offset;
    }
    @if ($horizontal == "c" and $vertical == "c") {
        transform: translate(-50%, -50%);
    }
}

@mixin position-sticky($top: 0, $zindex: 10) {
    position: sticky;
    z-index: $zindex;
    top: $top;
}
